@import "~bootstrap-sass/assets/stylesheets/bootstrap";

h1 {
    color: red;
}

.flikr-box {
    .search-panel{
        padding: 10px;
        margin-bottom: 30px;
    }
    .image-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .image-box {
            width: 200px;
            img {
                width: 100%;
            }
        }
    }
}
